---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    k8s-app: prometheus-operator
  name: prometheus-operator
  namespace: "{{ system_namespace }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: prometheus-operator
    spec:
      containers:
      - args:
        - --kubelet-service={{system_namespace}}/kubelet
        - --config-reloader-image=quay.io/coreos/configmap-reload:v0.0.1
        image: {{ prometheus_image_repo }}:{{ prometheus_image_tag }}
        # Image is tagged and updated with :head, so always pull it.
        imagePullPolicy: Always
        name: prometheus-operator
        ports:
        - containerPort: 8080
          name: http
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 50Mi
      serviceAccountName: prometheus-operator