---
kind: Service
apiVersion: v1
metadata:
  name: traefik-ingress-service
  namespace:  "{{ system_namespace }}"
spec:
  selector:
    k8s-app: traefik-ingress-lb
  ports:
    - protocol: TCP
      port: 80
      name: web
    - protocol: TCP
      port: 8888
      targetPort: 8888
      name: admin
  type: ClusterIP